html {
  background-color: rgb(136, 46, 46);
  color: white;
  text-align: center;
}

h2 {
  white-space: pre;
}
#deck {
  margin: 0 auto;
  width: 600px;
}
/* row {
  float: left;
} */
/* card {
  background-color: yellow;
} */

card {
  display: block;
  float: left;
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  background-color: white;
}

img {
  height: 100px;
  /* background-color: white; */
}